body {
  margin: 0;
  padding: 0;
}

.topbar {
	margin: auto;
	text-align: left;
    padding: 15px 0 10px 0;
}

.topbar p {
    width: 50%;
	margin: auto;
	text-align: left;
    color: #3B3B3B;
    font-size: 24px;
    border-bottom: 2px solid #3B3B3B;
    letter-spacing: 1px;
}

.content {
    color: #3B3B3B;
	width: 50%;
	margin: auto;
	text-align: left;
}

li.category:before {
    font-family: 'FontAwesome';
    content: '\f07c';
    margin:0 5px 0 -15px;
    color: #336699;
}

li.people:before {
    font-family: 'FontAwesome';
    content: '\f007';
    margin:0 5px 0 -15px;
    color: #336699;
}

ul.list {
    width: 500px;
    list-style:none;
}

ul.list li {
    padding: 5px;
    list-style:none;
}