// Overrides
*,
.content * {
  color: $grey-lighter;
}

a,
.content a {
  color: $link-color;
}

a:hover,
.content a:hover {
  color: $link-hover-color;
}

.section {
  background-color: $body-background-color;
}

.hero {
  background-color: $body-background-color;
}

.box {
  background-color: $background;
}

.button {
  &.is-hovered,
  &:hover {
    background-color: darken($button-background-color, 3%);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: darken($color, 3%);
      }
    }
  }

  &.is-loading:after {
    border-color: transparent transparent $grey-light $grey-light;
  }
}

.label {
  color: $grey-lighter;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.card {
  box-shadow: none;
  border: 1px solid $border;
  background-color: darken($body-background-color, 1);
  border-radius: $radius;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    background-color: darken($body-background-color, 3);
    border-radius: $radius $radius 0 0;
  }

  .card-footer {
    background-color: darken($body-background-color, 3);
  }

  .card-footer,
  .card-footer-item {
    border-width: 1px;
    border-color: $border;
  }
}

.modal-card-body {
  background-color: $body-background-color;
}

.navbar {
  &.is-transparent {
    background-color: transparent;
  }

  @include touch {
    .navbar-menu {
      background-color: transparent;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      @include touch {
        .navbar-item,
        .navbar-link {
          color: $color-invert;

          &.is-active {
            color: rgba($color-invert, 0.7);
          }
        }

        .navbar-burger {
          span {
            background-color: $color-invert;
          }
        }
      }
    }
  }
}

.tabs {
  &.is-boxed {
    li.is-active a {
      background-color: $background;
    }
  }
}

.table {
  background-color: $grey-dark;
}

.table thead td,
.table thead th,
.table tfoot td,
.table tfoot th {
  color: $grey-light
}

.table td,
.table th {
  border-color: $grey;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: $grey-darker
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: $grey-dark
}

.table.is-striped tbody tr:not(.is-selected):nth-child(2n) {
  background-color: $grey-darker
}

.footer {
  background-color: $grey-dark;
}

.pagination-previous,
.pagination-next,
.pagination-link {
  border: none;
  background-color: $grey-dark;
}

.pagination-previous.is-current,
.pagination-next.is-current,
.pagination-link.is-current {
  background-color: $grey-darkest;
}

.pagination-previous:hover,
.pagination-next:hover,
.pagination-link:hover {
  background-color: $grey;
  color: $grey-lighter;
}

.dropdown .button,
.dropdown .dropdown-content {
  background-color: $grey-dark;
  border: none;
}

.dropdown-item:hover {
  background-color: $grey;
  color: $grey-lighter;
}
.dropdown-item.is-active {
  background-color: $grey-darkest;
}
.button.is-info {
  background-color: $grey-dark;
}
.button.is-info:hover {
  background-color: $grey-darkest;
}
.navbar {
  background-color: $grey-dark;
}
.navbar.is-light .navbar-brand > a.navbar-item:hover,
.navbar.is-light .navbar-brand > a.navbar-item.is-active,
.navbar.is-light .navbar-brand .navbar-link:hover,
.navbar.is-light .navbar-brand .navbar-link.is-active {
  background-color: $grey-darkest;
}
.navbar-item.is-tab.is-active,
.navbar-item.is-tab:hover {
  border-bottom-color: $grey-lighter;
  color: $grey-lighter;
}
.accordions .accordion.is-info {
  background-color: $grey-dark;
}
.accordions .accordion.is-info .accordion-header {
  background-color: $grey-darkest;
  color: $grey-lighter;
}
.accordions .accordion .accordion-header + .accordion-body {
  border-color: $grey-dark;
}
.accordions .accordion.is-info .accordion-content,
.accordions .accordion.is-info .accordion-content * {
  color: $grey-lighter;
}
.tooltip.is-tooltip-bottom:focus::before,
.tooltip.is-tooltip-bottom:hover::before,
.tooltip.is-tooltip-bottom.is-tooltip-active::before {
  border-color: transparent transparent $grey-darkest transparent;
}
.tooltip:hover::after,
.tooltip.is-tooltip-active::after {
  background: $grey-darkest;
}
.switch[type="checkbox"].is-large + label::after {
  background: $grey-dark;
}
.switch[type="checkbox"].is-info:checked + label::before {
  background: $grey-darkest;
}
.hero.is-info.is-bold {
  background-image: linear-gradient(141deg, #07222c 0%, #07202f 71%, #182532 100%);
}
.navbar.is-light .navbar-end .navbar-link {
  color: $grey-lighter;
}
.navbar.is-light .navbar-item.has-dropdown:hover .navbar-link,
.navbar.is-light .navbar-item.has-dropdown.is-active .navbar-link {
  color: $grey-lighter;
  background: $grey-darkest;
}

.navbar.is-light .navbar-start .navbar-link::after,
.navbar.is-light .navbar-end .navbar-link::after {
  border-color: $grey-lighter;
}
.navbar-dropdown {
  background-color: $grey-darkest;
}

a.navbar-item:hover,
a.navbar-item.is-active,
a.navbar-link:hover,
a.navbar-link.is-active {
  background-color: $grey-darker;
  color: $grey-lighter;
}

.navbar.is-light .navbar-start > a.navbar-item:hover,
.navbar.is-light .navbar-start > a.navbar-item.is-active,
.navbar.is-light .navbar-start .navbar-link:hover,
.navbar.is-light .navbar-start .navbar-link.is-active,
.navbar.is-light .navbar-end > a.navbar-item:hover,
.navbar.is-light .navbar-end > a.navbar-item.is-active,
.navbar.is-light .navbar-end .navbar-link:hover,
.navbar.is-light .navbar-end .navbar-link.is-active {
  background-color: $grey-darkest;
  color: $grey-lighter;
}


.sort_by_name.sort_direction_asc th[data-title="name"] span::after,
.sort_by_symbol.sort_direction_asc th[data-title="symbol"] span::after,
.sort_by_rank.sort_direction_asc th[data-title="rank"] span::after,
.sort_by_price_usd.sort_direction_asc th[data-title="price_usd"] span::after,
.sort_by_market_cap_usd.sort_direction_asc th[data-title="market_cap_usd"] span::after,
.sort_by_percent_change_1h.sort_direction_asc th[data-title="percent_change_1h"] span::after,
.sort_by_percent_change_24h.sort_direction_asc th[data-title="percent_change_24h"] span::after,
.sort_by_percent_change_7d.sort_direction_asc th[data-title="percent_change_7d"] span::after {
  border-color: $grey-lighter transparent transparent transparent;
}
.sort_by_name.sort_direction_desc th[data-title="name"] span::after,
.sort_by_symbol.sort_direction_desc th[data-title="symbol"] span::after,
.sort_by_rank.sort_direction_desc th[data-title="rank"] span::after,
.sort_by_price_usd.sort_direction_desc th[data-title="price_usd"] span::after,
.sort_by_market_cap_usd.sort_direction_desc th[data-title="market_cap_usd"] span::after,
.sort_by_percent_change_1h.sort_direction_desc th[data-title="percent_change_1h"] span::after,
.sort_by_percent_change_24h.sort_direction_desc th[data-title="percent_change_24h"] span::after,
.sort_by_percent_change_7d.sort_direction_desc th[data-title="percent_change_7d"] span::after {
  border-color: transparent transparent $grey-lighter transparent;
}
.notification {
  background-color: $grey-dark;
}
.notification.is-primary {
  background-color: #01443a;
}
.notification.is-danger {
  background-color: #42010e;
}