/* Изменения бульмовских классов */

.input:focus {
  box-shadow: none;
  border-color: $border-hover;
}

.modal .animation-content {
  @include mobile {
    margin: 0 5px;
  }
}

.column {
  padding: 0.5rem 0;
}

#reader .columns {
  @include mobile {
    margin: 0 -1.2rem;
  }
}

.b-tabs .tab-content {
  @include mobile {
    padding: 1rem 0.25rem;
  }
}

.content table tr:hover {
  background-color: inherit !important;
}

.content table tr td:first-child,
.content table tr td:last-child {
  @include mobile {
    padding: 0.5em 0;
  }
}

.field.is-grouped.is-grouped-multiline>.control:last-child,
.field.is-grouped.is-grouped-multiline>.control:not(:last-child) {
  margin-bottom: 0.5rem;
}

.field.is-grouped>.control:not(:last-child) {
  margin-right: 0.5rem;
}

.notices .snackbar .action .button {
  font-weight: 400;
}

/* Общее */

.is-borderless {
  border: none !important;
}

.invert-link {
  color: $text;
  cursor: pointer;
}

.invert-link:hover {
  color: $link;
}