  /* Освободившееся и выбранное место */

  .sortable-ghost {
    opacity: 0;
  }

  /* Перетаскиваеваемый (приподнятый) элемент */

  .sortable-drag {
    opacity: 1;
  }

  .tree ul,
  .tree li {
    list-style: none;
    padding-left: 10px;
    font-size: 0.9rem;
  }

  .tree li:first-child {
    margin-top: 5px;
  }

  .drop-zone {
    min-height: 5px;
  }

  .chevron {
    color: $tree-icon;
    float: left;
    width: 0px;
    position: relative;
    left: -25px;
    top: 7px;
    cursor: pointer;
  }

  .element {
    padding: 8px 10px;
  }

  .element input {
    height: 20px;
    border: none;
    font-size: 0.9rem;
  }

  .element input:focus {
    outline: none;
  }

  .element-selected {
    background-color: $white-ter;
  }

  .element-add {
    border: 1px dashed $tree-border-active;
    margin-top: 8px;
    cursor: default;
  }

  .element-menu {
    float: right;
    line-height: 1.2;
  }

  .icon-inactive {
    color: $tree-icon;
  }

  .icon-active {
    color: $tree-icon;
    cursor: pointer;
  }

  .icon-active:hover {
    color: $tree-icon-hover;
  }
