@import "~bulma/sass/utilities/_all";

$light: #f5f7fa;
$light-invert: findColorInvert($light);
$black: #353535;
$black-invert: findColorInvert($black);
$dark: #69707a;
$dark-invert: findColorInvert($dark);
$primary: #5bc0de;
$primary-invert: findColorInvert($primary);
$info: #3498db;
$info-invert: findColorInvert($info);
$success: #97cd76;
$success-invert: #fff;
$warning: #fce473;
$warning-invert: findColorInvert($warning);
$danger: #ed6c63;
$danger-invert: findColorInvert($danger);

$colors: (
    "light": ($light, $light-invert),
    "black": ($black, $black-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "link": ($info, $info-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

$tree-border: $grey-lighter;
$tree-border-active: $grey-light;
$tree-icon: $grey;
$tree-icon-hover: $grey-dark;

//$gap: 210px;